# Ignore all
*

# But not these file
!include/
!include/grasping_node/
!include/grasping_node/.keep

!config/
!config/config.yaml

!launch/
!launch/auto_grasp_bag.launch.py

!src/
!src/grasp_bag.cpp

!LICENSE
!package.xml
!README.md
!CMakeLists.txt
!.gitignore

